### 環境変数ファイルの作成
プロジェクトルートに `.env.local` ファイルを作成し、以下の環境変数を設定してください：

#Azure Storage Configuration
AZURE_STORAGE_CONTAINER_NAME=
AZURE_STORAGE_CONNECTION_STRING=

#Azure AI Search Configuration
AZURE_SEARCH_ENDPOINT=
AZURE_SEARCH_API_KEY=
AZURE_SEARCH_INDEX_NAME=

#open AI
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_VERSION=2025-01-01-preview
AZURE_OPENAI_CHAT_DEPLOYMENT=gpt-4.1-mini
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=text-embedding-3-small
AZURE_OPENAI_KEY=

#Azure Form Recognizer Configuration
FORM_RECOGNIZER_ENDPOINT=
FORM_RECOGNIZER_KEY=

## 環境変数の詳細説明
`AZURE_STORAGE_CONTAINER_NAME` | Azure Storage Accountのコンテナ名 | Azure Portal > ragoptimizerstorage > コンテナー 
`AZURE_STORAGE_CONNECTION_STRING` | Azure Storage Accountの接続文字列 | Azure Portal > ragoptimizerstorage > アクセス キー 
`AZURE_SEARCH_ENDPOINT` | AI Searchのエンドポイント | Azure Portal > rag-search-svc > 概要URL
`AZURE_SEARCH_API_KEY` | AI Searchの管理者キー | Azure Portal > rag-search-svc > キー 
`AZURE_SEARCH_INDEX_NAME` | AI Searchのインデックス名 | Azure Portal > rag-search-svc > インデックス 
`AZURE_OPENAI_ENDPOINT` | OpenAI エンドポイント | Azure Portal > rag-optimizer-openai > キーとエンドポイント
`AZURE_OPENAI_API_KEY` | OpenAI APIキー | Azure Portal > rag-optimizer-openai > キーとエンドポイント
`AZURE_FORM_RECOGNIZER_ENDPOINT` | Document Intelligenceのエンドポイント | Azure Portal > rag-docintell-svc > キーとエンドポイント 
`AZURE_FORM_RECOGNIZER_KEY` | Document Intelligenceのアクセスキー | Azure Portal > rag-docintell-svc > キーとエンドポイント 